body, html {
  margin: 0;
  padding: 0;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:focus {
  outline: 0;
}

img {
  width: 100%;
}

.landing {
  display: flex;
  position: relative;
  background: url('./img/bb_tech.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.landing-inner {
  padding-top: 10px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}